header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    margin-left: 50px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-container .nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-container .nav-list-elem {
    margin: 0 10px;
    margin-right: 60px;
}

.header-container .nav-list-elem a {
    text-decoration: none;
    color: inherit;
}

.user-profile a {
    text-decoration: none;
    color: inherit;
}