header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

video {
    display: block;
    margin: 40px auto;
}

.exit-button {
    background-image: url('img/exit_button.png');
    background-size: cover;
    width: 90px;
    height: 32px;
    border: none;
    cursor: pointer;
    text-indent: -9999px;
}

.logo {
    margin-left: 50px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-container .nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-container .nav-list-elem {
    margin: 0 10px;
    margin-right: 60px;
}

.header-container .nav-list-elem a {
    text-decoration: none;
    color: inherit;
}

.header-container .user-profile {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.user-profile a {
    text-decoration: none;
    color: inherit;
}

.welcome-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome-banner-content {
    text-align: center;
}

.action-block {
    display: flex;
    justify-content: space-between;
}

.benefits-block {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.banner-crm {
    text-align: center;
    margin: 40px auto;
}

.banner-sign-up-and-try {
    text-align: center;
    margin: 40px auto;
}

.faq-block {
    text-align: center;
    margin: 40px auto;
}