.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.header-container .logo {
}

.header-container .nav-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header-container .nav-list-elem {
    margin: 0 10px;
}

.header-container .user-profile {
    display: flex;
    align-items: center;
}

.user-profile {
    
}

.main-content {
    text-align: center;
}